apiVersion: kibana.k8s.elastic.co/v1beta1
kind: Kibana
metadata:
  name: quickstart
spec:
  image: {{ registry_endpoint }}/{{ registry_project }}/kibana:7.4.2
  version: 7.4.2
  count: 1
  elasticsearchRef:
    name: quickstart
