endpoint: {{ .kubernetes.Inherent.endpoint }}
registry_endpoint: {{ .harbor.Inherent.endpoint }}
registry_user: {{ .harbor.Inherent.user }}
registry_password: {{ .harbor.Inherent.password }}
registry_project: library
add_worker_node_only: {{ .kubernetes.Property.AddWorkerNodesOnly }}
upgrade_cluster: {{ .kubernetes.Property.UpgradeCluster }}
auto_upgrade_nodes: {{ .kubernetes.Property.AutoUpgradeK8sNodes }}
