docker run -d --restart=always \
    --name HA-Proxy \
    {% for s in servers %}
    -p {{ s.target }}:{{ s.port }} \
    {% endfor %}
    -v /var/wise2c/lb/haproxy.cfg:/usr/local/etc/haproxy/haproxy.cfg:ro \
    wise2c/k8s-haproxy:1.8.14
