[wise2c-k8s]
name=wise2c-k8s
baseurl=http://{{ wise2c_seed_host }}:2009/rpms/k8s/centos9
enabled=1
gpgcheck=0
module_hotfixes=1

[wise2c-docker]
name=wise2c-docker
baseurl=http://{{ wise2c_seed_host }}:2009/rpms/docker/centos9
enabled=1
gpgcheck=0
module_hotfixes=1

[wise2c-ceph]
name=wise2c-ceph
baseurl=http://{{ wise2c_seed_host }}:2009/rpms/ceph/centos9
enabled=1
gpgcheck=0
module_hotfixes=1
