KUBELET_EXTRA_ARGS=--pod-infra-container-image={{ registry_endpoint }}/{{ registry_project }}/pause:3.4.1 \
                   --container-runtime=remote \
                   --cgroup-driver=systemd \
                   --container-runtime-endpoint=unix:///var/run/crio/crio.sock \
                   --runtime-request-timeout=10m \
                   --alsologtostderr=true \
                   --logtostderr=false \
                   --anonymous-auth=true \
                   --container-log-max-files=10 \
                   --container-log-max-size=50Mi \
                   --log-dir=/var/log/pods

#KUBELET_EXTRA_ARGS=--pod-infra-container-image={{ registry_endpoint }}/{{ registry_project }}/pause:3.4.1 \
#                   --container-runtime=remote \
#                   --cgroup-driver=systemd \
#                   --container-runtime-endpoint=unix:///var/run/crio/crio.sock \
#                   --runtime-request-timeout=10m \
#                   --alsologtostderr=true \
#                   --logtostderr=false \
#                   --anonymous-auth=true \
#                   --container-log-max-files=10 \
#                   --container-log-max-size=50Mi \
#                   --log-dir=/var/log/pods
#                   --kube-reserved=cpu=500m,memory=512Mi,ephemeral-storage=1Gi \
#                   --system-reserved=cpu=1000m,memory=1024Mi,ephemeral-storage=1Gi \
#                   --eviction-hard=memory.available<500Mi,nodefs.available<10%
#                   --max-pods=200
