#!/bin/bash
long_k8s_version={{ kubernetes_version }}
short_k8s_version=${long_k8s_version#*v}

yum clean all

yum install -y --disablerepo=* --enablerepo=wise2c kubeadm-${short_k8s_version}-0 --disableexcludes=kubernetes

kubectl drain `hostname` --ignore-daemonsets

kubeadm upgrade node config --kubelet-version ${long_k8s_version}

yum install -y --disablerepo=* --enablerepo=wise2c kubelet-${short_k8s_version}-0 kubectl-${short_k8s_version}-0 --disableexcludes=kubernetes

systemctl daemon-reload
systemctl restart kubelet

kubectl uncordon `hostname`
