registry_endpoint: {{ .harbor.Inherent.endpoint }}
registry_user: {{ .harbor.Inherent.user }}
registry_password: {{ .harbor.Inherent.password }}
registry_project: library
etcd_endpoint: {{ .etcd.Inherent.endpoint }}
