apiVersion: v1
kind: Service
metadata:
  labels:
    app: jaeger
    chart: tracing
    heritage: Tiller
    release: istio
  name: tracing
  namespace: istio-system
spec:
  externalTrafficPolicy: Cluster
  ports:
  - name: tracing-http-query
    nodePort: {{ jaeger_nodeport }}
    port: 80
    protocol: TCP
    targetPort: 16686
  selector:
    app: jaeger
  sessionAffinity: None
  type: NodePort
